html,body {
	width: 100%;
	height: 100%;
}
.ct_layout {
   width: 100%;
   height: 100%;
}
.ct_header {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	z-index: 999;
}
.ct_content {
	width: 100%;
	height: 100%;
	padding-top: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: blue;
}
.ct_left {
	width: 100px;
	height: 100%;
	background-color: red;
	float: left;
}
.ct_right {
	height: 100%;
	margin-left: 100px;
	background-color: green;
}
